Ver un monstruo <br>
/app/views/monstruos/show.html.erb

<!-- punto2 -->
<h1> <%= @monstruo.nombre %> </h1>
<p> descripcion: <%=@mosntruo.descripcion %> </p>
<h6> tweets: </h6>
<ul>
	<% @monstruo.tweets.all.each do |tweet| %>
	<li> <%= tweet.estado %> </li>
	<%end%>
</ul>
